.App {
  text-align: center;
  font-size: 14px;

  .App-intro {
    font-size: large;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
}


.root:empty {
  margin: auto;
  width: 100%;
  height: 600px; /* change height to see repeat-y behavior */

  background-image:
          radial-gradient( circle 30px at 100px 50px, lightgray 99%, transparent 0 ),
          radial-gradient( circle 30px at 200px 50px, lightgray 99%, transparent 0 ),
  //linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ),
  linear-gradient( lightgray 40px, transparent 0 ),
          linear-gradient( lightgray 40px, transparent 0 ),
  linear-gradient( lightgray 20px, transparent 0 ),
  linear-gradient( lightgray 20px, transparent 0 )
;

  background-repeat: no-repeat;

  background-size:
          300px 100px,
           300px 100px,
           40% 80px, /*tab*/
           40% 80px, /*tab*/
           300px 200px, /*news*/
           250px 200px
;

  background-position:
          0 0, /* circle */
          20% 0, /* circle */
          5% 200px,
          90% 200px,
          0px 260px,
          90% 400px;

  // animation: shine 1s infinite;
}

@keyframes shine {
  to {
    background-position:
            0 0,
            100% 0, /* move highlight to right */
            120px 0,
            120px 40px,
            120px 80px,
            120px 120px;
  }
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
